folium==0.14.0
inflection==0.5.1
ipython==8.8.0
matplotlib==3.6.2
numpy==1.24.1
pandas==1.5.2
plotly==5.11.0
pxmap==0.0.2
scikit_learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
streamlit==1.16.0
streamlit_folium==0.10.0
openpyxl==3.0.10
